#root{
  width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
  display: flex;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.kolorTla {
  background-color: lawngreen;
}

button{
  width:50px;
  height: 50px;
  margin:20px;
  background-color: #0E4BFE;
  color: white;
  border: none;
  border-radius: 6px;
  text-align: center;
  outline: none;
  box-shadow: 1px 0px 4px 1px #0d580d96;
}
button:hover{
  cursor: pointer;
}
#playno{
  background-color: red;
}
#playyes{
  background-color: #12800E;
}
button:active{
  box-shadow: 1px 0px 2px 0px #0d580d96
}


output{
  padding: 25px;
  margin: 5px;
  background-color: lawngreen;
  border: none;
  border-radius: 3px;
  text-align: center;}
div{
  display:flex;
  margin: auto;
  align-self: center;
}
.contener{
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  width: 100%;
  justify-content: center;
  text-align: center;
}
.col{
  width: 100%;
  display: flex;
  align-self: top;
  margin-top: 5%;
}
.title h2{
  font-size: 20px;
}
#name-input{
  margin: 10px;
  outline: none;
  border-radius: 4px;
  color: #0E4BFE;
}
#name-input:focus{
  background-color: aliceblue;
}
#instruction{
  display: flex;
  outline: none;
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 5%;
}
#instruction li{
  padding: 5px;
  list-style: square;
  list-style-position:outside;
}
#instruction ol{
  padding-right: 10px;
}
.inst-button{
  width: 90%;
  font-size: 22px;
}

.instruction{
  width: 90%;
  text-align: left;
  background-color: #cedbef6b;
}
.correct{
  justify-content: start;
  padding-left: 8%;
  padding-top: 10px;
  padding-bottom: 10px;
}
.correct p{
  display: block;
  margin: 0;
  width: 50%;
  text-align: left;
}
#number{
  margin: 5px;
}
#form{
  width: 100%;
  margin: 20px;
}
.used-num{
  width: 50%;
}
.you-win{
  font-size: 20px;
  color: #0a7b1a;
}
.hide-me{
  display: none;
}

.sub-button{
  padding: 0;
  margin-top: 20px;
  margin-bottom: 20px;
    width:100%;
    height: 50px;
    background-color: #45b0ca;
    color: white;
    border: none;
    border-radius: 6px;
    text-align: center;
    outline: none;
    box-shadow: 1px 0px 4px 1px #0d580d96;
    font-size: 22px;
    text-transform: uppercase;
}