#root{
  width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
  display: flex;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.kolorTla {
  background-color: lawngreen;
}

button{
  width:50px;
  height: 50px;
  margin:20px;
  background-color: #0E4BFE;
  color: white;
  border: none;
  border-radius: 6px;
  text-align: center;
  outline: none;
  box-shadow: 1px 0px 4px 1px #0d580d96;
}
button:hover{
  cursor: pointer;
}
#playno{
  background-color: red;
}
#playyes{
  background-color: #12800E;
}
button:active{
  box-shadow: 1px 0px 2px 0px #0d580d96
}


output{padding: 25px;
  margin: 5px;
  background-color: lawngreen;
  border: none;
  border-radius: 3px;
  text-align: center;}
div{
  display:flex;
  margin: auto;
  align-self: center;
}
.contener{
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  width: 100%;
  justify-content: center;
  text-align: center;
}
.col{
  width: 80%;
  display: flex;
  align-self: top;
  margin-top: 5%;
}
#name-input{
  margin-left: 10px;
  margin-right: 5px;
}
#instruction{
  background-color: #cedbef6b;
  display: block;
  padding: 10px;
}
#instruction summary {
  outline: none;
  color: #0E4BFE;
  text-decoration: none;
  font-size: 22px;
  font-weight: 600;
}

#instruction a:active{
  color: #858a98;
}